<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/batch
		http://www.springframework.org/schema/batch/spring-batch.xsd">


	<batch:job id="job">
		<batch:step id="step1">
			<batch:tasklet ref="DRAMFileParserTasklet" />
		</batch:step>
	</batch:job>

	<bean id="DRAMFileParserTasklet"
		class="pivotal.io.batch.DRAMFileParserTasklet">
		<!--<property name="infilepath" value="${infilepath}"/>-->
		<property name="outdirpath" value="${outdirpath}"/>
		<property name="outfileextension" value="${outfileextension}"/>
	</bean>

</beans>