<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/batch
		http://www.springframework.org/schema/batch/spring-batch.xsd">


	<batch:job id="job">
		<batch:step id="step1">
			<batch:tasklet ref="Tasklet" />
		</batch:step>
	</batch:job>

	<bean id="Tasklet"
		class="pivotal.io.batch.FileSplitAndHDFSSinkTasklet">
		<property name="outdir" value="${outdir}"/>
		<property name="fsUri" value="${fsUri}"/>
		<property name="rollover" value="${rollover}"/>
	</bean>

</beans>